<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Tu analiza</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        body { margin-top: 20px; }
        .container { max-width: 600px; margin-top: 50px; }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">sample sampler</h1>

        <!-- Form to analyze a single sentence -->
        <form method="post" enctype="multipart/form-data" class="mb-4">
            <div class="form-group">
                <label for="sentence">text:</label>
                <input type="text" id="sentence" name="sentence" class="form-control" value="{{ sentence }}" required>
            </div>

            <button type="submit" name="analyze_text" class="btn btn-primary">
                <i class="fas fa-search"></i> Click
            </button>

            {% if sentiment %}
                <h2 class="alert alert-info">prediction: {{ sentiment }}</h2>
            {% endif %}
        </form>

        <!-- Form to analyze data from a CSV file -->
        <form method="post" enctype="multipart/form-data" class="mb-4">
            <div class="form-group">
                <label for="csv_file">CSV:</label>
                <input type="file" id="csv_file" name="csv_file" class="form-control-file" accept=".csv" required>
            </div>

            <div class="form-group" id="rows-container" style="display: none;">
                <label for="num_rows">No of rows</label>
                <input type="number" id="num_rows" name="num_rows"
                       class="form-control" min="1" value="10">
            </div>

            <button type="submit" name="analyze_csv" class="btn btn-secondary">
                <i class="fas fa-file-upload"></i> Analyze(slow asf)
            </button>
        </form>


        <!-- Display results for CSV analysis -->
        {% if csv_results %}
            <h3 class="mt-5">Zawartość CSV:</h3>

            <div class="table-container">
            <table class="table table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        {% for column in csv_results[0].keys() %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in csv_results %}
                        <tr>
                            {% for value in row.values() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}
    </div>


<script>
    document.getElementById("csv_file").addEventListener("change", function() {
        const rowsContainer = document.getElementById("rows-container");

        if (this.files.length > 0) {
            rowsContainer.style.display = "block";
        } else {
            rowsContainer.style.display = "none";
        }
    });
</script>
</body>
</html>
