<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Tu analiza</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        body { margin-top: 20px; }
        .container { max-width: 600px; margin-top: 50px; }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Analiza tu</h1>

        <!-- Form to analyze a single sentence -->
        <form method="post" enctype="multipart/form-data" class="mb-4">
            <div class="form-group">
                <label for="sentence">Tu tekst:</label>
                <input type="text" id="sentence" name="sentence" class="form-control" value="{{ sentence }}" required>
            </div>
            <button type="submit" name="analyze_text" class="btn btn-primary">
                <i class="fas fa-search"></i> Analizuj Tekst
            </button>
        </form>

        <!-- Form to analyze data from a CSV file -->
        <form method="post" enctype="multipart/form-data" class="mb-4">
            <div class="form-group">
                <label for="csv_file">Prześlij plik CSV:</label>
                <input type="file" id="csv_file" name="csv_file" class="form-control-file" accept=".csv" required>
            </div>
            <button type="submit" name="analyze_csv" class="btn btn-secondary">
                <i class="fas fa-file-upload"></i> Analizuj CSV(10 wierszy XD)
            </button>
        </form>

        <!-- Display results for single sentence analysis -->
        {% if sentiment %}
            <h2 class="alert alert-info">Ten tekst jest: {{ sentiment }}</h2>
        {% endif %}

        <!-- Display results for CSV analysis -->
        {% if csv_results %}
            <h3 class="mt-4">Wyniki analizy:</h3>
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Sentyment</th>
                        <th>Ilość</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sentiment, count in csv_results.items() %}
                        <tr>
                            <td>{{ sentiment }}</td>
                            <td>{{ count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</body>
</html>
